# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
target/I2C-Dummy-Target.bin.no_crc
target/I2C-Dummy-Target.bin
target/I2C-Dummy-Target.elf
target/I2C-Dummy-Target.hex
target/I2C-Dummy-Target.lst
target/I2C-Dummy-Target.map
target/I2C-Dummy-Target.bin.crc_block
target/I2C-Dummy-Target.dfu
target/module_user_memory.ld
target/I2C-Dummy-Target_fi.elf
